html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(33, 37, 41);
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
}

/*-------------Custom Colors-------------*/

.ucf-bg-blue {
	background-color: #4d4dff;
	color: white;
}
.ucf-bg-green {
	background-color: #39ac73;
	color: white;
}
.ucf-bg-purple {
	background-color:  #bf40bf;
	color: white;
}
.ucf-bg-orange {
	background-color: orange;
	color: white;
}
.ucf-bg-white {
	background-color: white;
}
.nav-link.active{
	font-weight: bolder;
	border: solid 1px silver;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-custom-color-green{
	margin: 10px;
	background-color: rgb(106, 206, 38);
	color: white;
}

/*---------------Custom alignments--------*/

.displayInlineblock {
	display: inline-block;
}
.page-headings{
	margin-top: 50px;
	text-align: center;
	font-weight: bolder;
}
hr{
	margin:2px;
	padding: 2px;
}

#logo {
	color: whitesmoke;
	border-radius: 4px;
	font-family: 'Wallpoet', cursive;
	font-size: 20px;
	font-weight: bolder;
	padding: 0 5px 0 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-free-call-contact{
	margin-left: 260px;
	margin-top: 10px;
	color:whitesmoke;
}


.get-started-btn {
	text-align: center;
	text-decoration: none;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 500;
	line-height: 1;
	background-color: #6ace26;
	border: 1px solid #6ace26;
	margin-bottom: 1rem;
	color: #fff;
	border-radius: 0.2rem;
	overflow: hidden;
	transition: all 2s ease;
	font-size: 1.3rem;
	padding: 0.4rem 1rem;
}

/*---------------- carousel custom --- */
.carousel-item {
	max-height: 500px;
}

.carousel-caption-background {
	background-color: black;
	opacity: 0.7;
	font-weight: bolder;
	background-color: black;
	opacity: 0.65;
	font-weight: bolder;
	width: 100%;
	height: 25%;
	left: 0;
	bottom: 0;
}

.custom-row-height {
	width: 100%;
	min-height: 100vh;
	background: #802818;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin: 0;
}

.page-headings {
	color: #5588d3;
	padding: 15px;
}
.page-headings-description {
	padding-left: 15px;
}
/*-------------Carousel -----*/
.carousel-indicators{
	visibility: hidden;
}


/* ------------------------About Us Page ---*/
#about-us {
	padding-bottom: 40px;
	border: solid yellowgreen 1px;
	border-radius: 5px;
	background-color: #ffffff;
	text-align: center;
	color: #5588d3;
	padding-top: 35px;
}

.customer-quote-card {
	margin-top: 15px;
	min-width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
	color: grey;
}

/*------------------Services Page-------*/
#services {
	padding-bottom: 40px;
	border: solid yellowgreen 1px;
	border-radius: 5px;
	background-color: #ededed;
}
.card-deck{
	margin: 0 auto;
	justify-content: center;
}
.card {
	min-width: 200px;
	max-width: 350px;
	margin-top: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-footer-text {
	margin: 0;
	padding: 0;
	color: white;
}
.card-footer-text a{
	text-decoration: none;
	color: white;
}

/*------------------Pricing Page-------*/
#pricing {
	padding-bottom: 40px;
	border: solid yellowgreen 1px;
	border-radius: 5px;
	background-color: #fafafa;
}
.page-headings-description{
	text-align: center;
	color: grey;
	padding-bottom: 15px;
}


/*-----------------Contact Page-----*/

#contact {
	padding-bottom: 150px;
	border: solid yellowgreen 1px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #5588d3;
	padding-top: 35px;
}
.contact-col-1{
	margin: 4px;
background-color: whitesmoke;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.contact-col-2{
	margin: 4px;
	background-color: whitesmoke;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#contact img {
	margin-bottom: 0px;
}
.contact-description{
	text-align: center;
	color: grey;
	padding-bottom: 25px;
}


.page-headings-description {
	margin-top: 25px;
}

.card-header {
	color: grey;
	font-weight: 600;
}
.list-group {
	color: black;
}

.address-bar{
	margin-top: 50px;
	height: 200px;
	width: 200px;

}
.address-bar p{
	padding: 0;
	padding-left: 20px;
	margin: 0;
	text-align: left;
}

/***** Form *********/

.form-container{
	padding: 25px;
	width: 100%;
	color: grey;
}

.form-group{
color: grey;
font-weight: bold;
}

.free-call-contact{
	text-align: left;
	padding-left: 20px;
}

/* Social Media Stickies Ref:// https://www.w3schools.com/howto/howto_css_sticky_social_bar.asp*****/
/* Decided to not use the stickie and use it as an inline block*/
.icon-bar {
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.icon-bar a {
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 45px;
	padding: 5px;
	transition: all 0.3s ease;
	color: white;
	font-size: 22px;
	border-radius: 100%;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
	background-color: #000;
  }
  
  .facebook {
	background: #3B5998;
	color: white;
  }
  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
  .google {
	background: #dd4b39;
	color: white;
  }
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .whatsapp {
	background: #25D366;
	color: white;
  }

/*--------------------Footer */

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 160px;
	background-color: rgb(33, 37, 41);
	color: white;
	text-align: center;
}
.bottom-nav{
	margin: 0 auto;
}


#logo-footer {
	color: grey;
	border-radius: 4px;
	font-family: 'Wallpoet', cursive;
	font-size: 56px;
	font-weight: bold;
	padding: 0 5px 0 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


